set editing-mode vi
set show-mode-in-prompt on
set blink-matching-paren on
set vi-ins-mode-string +
set vi-cmd-mode-string :
"jk":vi-movement-mode

# Bindings, using C-x leader key
"\C-xl": "lock\n"
"\C-xs": "lock -s\n"
"\C-xL": "lock -l\n"
